* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: grid;
}

/* NAVBAR */
nav {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    margin: 0 120px;
}
.right-nav {
    display: flex;
    gap: 3rem;
}
li {
    list-style: none;
}
.klogo {
    width: 50px;
    height: 50px;
}
/*to be edited later because AS*/
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-basis: 100px;
    height: 400px;
    margin: 0 120px;
}
.greetings {
    font-family: "Inconsolata", monospace;
    color: #6a6b7b;
}
.name{
    
}
.description {
    font-family:"Inconsolata", monospace;
    color: #6a6b7b;
    font-size: 17px;
}